<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script src="vue.js"></script>
    <script src="axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <h2>{{ title }}</h2>
      <input type="text" v-model="filter" />
      <table class="table">
        <theader>
          <tr>
            <th>Name</th>
            <th>Languages</th>
          </tr>
        </theader>
        <tbody>
          <tr v-for="country in filteredCountries">
            <td>{{ country.name.common }}</td>
            <td>
              <ul>
                <li v-for="language in country.languages">{{ language }}</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="app.js"></script>
  </body>
</html>
